
.main-section {
    height: 700px;
    width: 1260px;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    background: linear-gradient(90.23deg, #d4bdc0 1.92%, #f3e0e2 92.22%, #ecd6d6 123.13%);
    background-blend-mode: color-burn;
    margin:20px;
    border:1px dotted grey;
    color: #e09199;
}

svg::after {
    content: "Read this -";
  background-color: yellow;
  color: red;
  font-weight: bold;
  }

.circle::after {
    content: none;
  }

.header {
    position: absolute;
    left: 80px;
    top: 35px;
    width:87%;
    display: flex;
    justify-content: space-between;
}

.logo {
position: absolute;
width: 54.2px;
height: 55.72px;
}

.des {
position: absolute;
width: 464px;
height: 227px;
left: 72px;
top: 236px;
}
.profile {
position: absolute;
width: 415.85px;
height: 398.86px;
left: 718px;
top: 122.84px;
display: flex;
justify-content: center;
align-items: center;
}
.footer {
position: absolute;
width: 253.5px;
height: 21px;
left: 72px;
top: 647.5px;
display: flex;
align-items: center;
}
.border-box-profile {
    position: absolute;
    width: 204px;

}

.img {
border-radius: 100%;
background: linear-gradient(to left,  #f3bec3,#f3bec3) padding-box ,
linear-gradient(to left, #365677,#db9ba1)border-box;
border-width: 2px;
border-color: transparent;
border-style: solid;
}
.title {
position: absolute;
width: 227px;
height: 65px;
font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;
margin-top:0px;
color: #1D2D46;
}

.underline {
position: absolute;
width: 43px;
height: 0px;
top: 80px;
border: 2px solid #FE546F;
}

.role{
position: absolute;
width: 361px;
height: 49px;
left: 60px;
top:22px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;
color: #1D2D46;
}

.content{
 position: absolute;
width: 464px;
height: 78px;
top: 100px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 26px;
display: flex;
align-items: center;
color: #1D2D46;
}

.stright-line {
width: 43px;
height: 0px;
border: 2px solid #FE546F;
margin: 0px;
}

.social-media {
    width: 233px;
    height: 21px;
    display: flex;
    justify-content: space-around;
}
.line-arrow {
    position: absolute;
    top:275px;
    display: flex;
    align-items: center;
}
.meet-me {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 41px;
position: absolute;
width: 175px;
height: 37px;
left: 50px;
background: linear-gradient(to left,  #f3bec3,#f3bec3) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 100px;
}

.meet-me-text {
position: static;
width: 81px;
height: 27px;
left: 34.5px;
top: 5px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
background: linear-gradient(90deg, #FE546F -15.43%, #007BFF 148.15%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.location {
 position: absolute;
width: 186.76px;
height: 122.32px;
top:15px;
left:980px;
transform: rotate(45deg);
border:1px solid red;
color:#c94d62
}

.react-svg {
border:1px solid red;
position: absolute;
width: 35.13px;
height: 35.13px;
left: 305.44px;
top: 20.52px;
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;
transform: rotate(109.15deg);
}

.figma {
position: absolute;
width: 43.36px;
height: 43.36px;
top:1px;
left: 123px;
transform: rotate(-12.07deg);
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;
}

.code-svg {
position: absolute;
width: 47.79px;
height: 47.79px;
top: 110.07px;
left:8px;
transform: rotate(-23.52deg);
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;
}

.game-pad {
    position: absolute;
    width: 35.94px;
    height: 35.94px;
    left: 8.52px;
    top: 223.69px;
    transform: rotate(11.61deg);
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;
}
.meet-me-line{
position: absolute;
width: 134.45px;
height: 150.64px;
left: 300.5px;
top: 506.86px;
border-radius: 3px;
}

.t-svg {
position: absolute;
width: 30.87px;
height: 30.87px;
left: 393.9px;
top: 131.07px;
transform: rotate(-21.2deg);
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;

}

.mouse-click {
    width:30px;
    height:30px;
position:absolute;
left: 69.71%;
right: 18.12%;
top: 70.43%;
bottom: 35.86%;
background: rgba(251, 248, 248, 0.2);
transform: rotate(12.61deg);
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;
}

.art-svg {
position: absolute;
width: 29.91px;
height: 29.91px;
left: 20.02px;
top: 360.73px;
transform: rotate(-67.76deg);
background: linear-gradient(to left,  #ecd6d6,#ecd6d6) padding-box ,
linear-gradient(to left,  #007BFF,#FE546F)border-box;
border-width: 1px;
border-color: transparent;
border-style: solid;
border-radius: 5px;
}

.circle {
 position: absolute;
width: 647.47px;
height: 647.47px;
left: 703px;
top: 275.01px;
background: radial-gradient(63.82% 73.01% at 52.08% 12.67%, rgba(254, 93, 118, 0.06) 0%, rgba(124, 96, 235, 0.06) 82.81%, rgba(0, 123, 255, 0.06) 100%) ;
border-radius: 41px;
transform: rotate(-12.85deg);
}

